{%extends "base.html"%}
{% block title%}: About {% endblock %}

{%block content%}
<section class="about-and-terms">
  <h1 class="test">Welcome to GhostStories</h1>

  <p>
    A platform dedicated to discovering new writing talents and exploring the realms of the
    supernatural and the unknown. Our website provides a welcoming space for amateur writers to share their original
    stories
    in genres like ghosts, horror, and vampires. Whether you're a seasoned storyteller or just starting out on your
    writing
    journey, GhostStories offers a supportive community where writers can unleash their creativity and connect with
    like-minded individuals who share a passion for the eerie and the mysterious.
  </p>
  <p>
    At GhostStories, we believe in the power of storytelling to captivate, inspire, and transport readers to new
    worlds.
    Writers can post their stories and receive feedback from fellow writers and readers alike. Our community
    encourages
    constructive criticism, thoughtful commentary, and encouragement to help writers hone their craft and grow as
    storytellers. Whether you're looking for spine-tingling tales of the supernatural or haunting narratives that
    linger
    long after you've finished reading, GhostStories has something for everyone.
  </p>
  <p>
    Editors and literary agents frequent GhostStories in search of fresh and compelling voices. If your story catches
    the
    eye of an editor, you may receive inquiries about publishing opportunities or invitations to submit your work for
    further consideration. Our goal is to provide aspiring writers with a platform to showcase their talent and
    connect
    with
    industry professionals who can help turn their dreams of publication into reality. Join us at GhostStories and
    embark
    on
    a journey into the realms of the unknown, where every story has the potential to thrill, chill, and enchant.
  </p>
  <button class="back-button"><a onClick="javascript:history.go(-1)"> Back </a></button>
</section>
{%endblock%}