{%extends "base.html"%}
{% block title%}: Terms and conditions {% endblock %}

{%block content%}
<section class="about-and-terms">
  <h1>Terms and conditions</h1>

  <p> Welcome to GhostStories! By accessing and using our website, you agree to comply with the following terms and
    conditions.</p>
  <ol>

    <li>GhostStories is a platform for sharing original stories in genres like ghosts, horror, and vampires. Users are
      encouraged to express their creativity and explore the realms of the supernatural.</li>

    <li>All content posted on GhostStories must be original and owned by the user. Plagiarism or unauthorized use of
      copyrighted material is strictly prohibited.</li>

    <li>Users are responsible for maintaining the confidentiality of their accounts and passwords. Any unauthorized use
      of
      accounts should be reported immediately.</li>

    <li>Fake accounts created for the purpose of spamming or deceiving others will be deleted without notice.</li>

    <li>Inappropriate images, comments, or texts containing explicit content, hate speech, or discrimination will be
      removed promptly.</li>

    <li>GhostStories promotes a supportive and inclusive community where users are encouraged to engage respectfully and
      constructively with one another.</li>

    <li>Racism, sexism, homophobia, or any form of discrimination will not be tolerated on GhostStories. Violators will
      be
      subject to immediate suspension or banning from the platform.</li>

    <li>Users are prohibited from engaging in any activities that may disrupt or interfere with the proper functioning
      of
      GhostStories, including but not limited to hacking, spamming, or distributing malware.</li>

    <li>Users retain ownership of their content but grant GhostStories a non-exclusive license to display, distribute,
      and
      promote their work on the platform.</li>

    <li>GhostStories reserves the right to remove any content that violates these terms and conditions or is deemed
      inappropriate or offensive by our moderators.</li>

    <li>By posting content on GhostStories, users acknowledge that their stories may be read and commented on by other
      users, editors, and literary agents.</li>

    <li>GhostStories does not guarantee the publication or commercial success of any content posted on the platform.
    </li>

    <li>Users are encouraged to report any violations of these terms and conditions to our moderation team for review
      and
      action.</li>

    <li>These terms and conditions may be updated or revised periodically, and users are responsible for reviewing them
      regularly to stay informed of any changes. Continued use of GhostStories constitutes acceptance of these terms and
      conditions.</li>
  </ol>
  <p>Thank you for being a part of the GhostStories community! We look forward to sharing your spooky tales and
    chilling adventures with the world. </p>
  <button><a onClick="javascript:history.go(-1)" class=" edit"> Back </a></button>
</section>
{%endblock%}