{%extends "base.html"%}
{% url 'stories' as stories %}
{% block title%}: Add a story {% endblock %}

{%block content%}
<section class="add-edit-delete-story">
  {% if user.is_authenticated %}
  {%if user.writer.goal == "Writer" %}
  <h1>Write your story</h1>

  <form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button aria-label="Post your story" class="basic-button">Post</button>
  </form>
  <script>
    var authorusername = "{{user.username}}";
    var automaticusername = document.getElementById("id_author")
    automaticusername.value = authorusername
  </script>
  {%else%}
  <h3>Only writers can share story</h3>
  {%endif%}
  {%else%}
  <h3 class="no-access-message"> To add stories, please log in</h3>
  {%endif%}
  <a class="btn back-button" href="{% url 'stories' %}" aria-label="Go back to the perivious page"> Back
  </a>
</section>
{%endblock%}