{%extends "base.html"%}
{% url 'one_story' as one_story %}
{% block title%}: Add a comment {% endblock %}

{%block content%}
<section class="add-comment">
  {% if user.is_authenticated %}
  <h1>Comment on {{commented_story.title}} {{one_story.title}} {{story.title}} {{comment.commented_story.title}}
    {{commented_story.story.title}}
    {{story.pk}} {{one_story.pk}}{{comment.commented_story.pk}} {{story_slug}} {{ slug }} {{comments.title}}
    {{ object.Story.title }} {{comments.title}} {{story_title}}</h1>
  <h2> {{ comment_obj.title }}</p>
  </h2>
  <form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button>Comment</button>
  </form>
  <script>
    var commentorname = "{{user.username}}";
    var automatic_commentorname = document.getElementById("id_author");
    automatic_commentorname.value = commentorname;
    var commentedstory = "{{comment.commented_story.slug}}";
    var automatic_commentedstory = document.getElementById("id_commented_story");
    automatic_commentedstory.value = commented_story;
  </script>
  {%else%}
  <h3 class="no-access-message"> To add stories, please log in</h3>
  {%endif%}
  <button class="back-button"><a onClick="javascript:history.go(-1)"> Back </a></button>
</section>
{%endblock%}