{%extends "base.html"%}
{% url 'one_story' as one_story %}
{% block title%}: Add a comment {% endblock %}

{%block content%}

<section class="add-comment">
  {% if user.is_authenticated %}
  <h1> Add comment </h1>
  <form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button aria-label="Send comment" class="basic button">Comment</button>
  </form>
  <script>
    var commentorname = "{{user.username}}";
    var automatic_commentorname = document.getElementById("id_author");
    automatic_commentorname.value = commentorname;
  </script>
  {%else%}
  <h3 class="no-access-message"> To add stories, please log in</h3>
  {%endif%}
  <a class="btn back-button" onClick="javascript:history.go(-1)" aria-label="Go back to the previous page"> Back
  </a>
</section>

{%endblock%}