{%extends "base.html"%}
{% url 'stories' as stories %}
{% block title%}: Add a story {% endblock %}

{%block content%}
<section class="add_story">
  {% if user.is_authenticated %}
  <h1>Write your story</h1>

  <form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button>Post</button>
  </form>
  <script>
    var authorusername = "{{user.username}}";
    var automaticusername = document.getElementById("id_author")
    automaticusername.value = authorusername
  </script>
  {%else%}
  <h3 class="no-access-message"> To add stories, please log in</h3>
  {%endif%}
  <button class="back-button"><a href="{% url 'stories' %}"> Back </a></button>
</section>
{%endblock%}