{%extends "base.html"%}
{% block title%}: Delete story {% endblock %}

{%block content%}

<div class="add-edit-delete-story">
  {% if user.is_authenticated %}
  {% if user.username == story.author.username%}
  <h1>Delete Story</h1>
  <form method="POST">
    {% csrf_token %}
    Are you sure you want to delete {{story.title}}?
    <button aria-label="Delete your story" class="basic-button">Yes, delete it!</button>
  </form>
  {%else%}
  <h3 class="no-access-message">Only the author can delete this post</h3>
  {%endif%}
  {%endif%}
  <a class="btn back-button" href="{% url 'one_story' story.slug %}" aria-label="Go back to the previous page"> Back
  </a>
</div>

{%endblock%}