{%extends "base.html"%}
{% block title%}: Edit story {% endblock %}

{%block content%}
<div class="add_story">
  {% if user.is_authenticated %}
  {% if user.username == story.author.username%}
  <h1>Edit {{story.title}}</h1>
  <form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button>Update</button>
  </form>
  {%else%}
  <h3>Only the author can edit this post</h3>
  {%endif%}
  {%else%}
  <h3> To read and edit stories, please log in</h3>
  {%endif%}
  <button><a href="{% url 'one_story' story.slug%}" class="edit"> Back </a></button>
</div>
{%endblock%}