{%extends "base.html"%}
{% url 'one_story' as one_story %}
{% url 'stories' as stories %}
{% block title%}: Read all stories {% endblock %}

{%block content%}
<section id="filter-story">
  {% if user.is_authenticated %}
  {%if searched_keyword%}

  <h1>Stories with keyword: <div>{{searched_keyword}}</div>
  </h1>
  <ul>
    <li>
      {%for matching_keyword in matching_keywords%}
      <a href="{% url 'one_story' matching_keyword.slug %}">{{matching_keyword}}<span> by
          {{matching_keyword.author}}</a></span>
      {%endfor%}
    </li>
  </ul>
  {%else%}
  <h1>Search for something!</h1>
  {%endif%}
  {%else%}
  <h3 class="no-access-message"> To read stories, please log in</h3>
  {%endif%}
  <button class="back-button"><a href="{% url 'stories' %}"> Back </a></button>
</section>


{%endblock%}