{%extends "base.html"%}
{% url 'profile' as profile %}
{% url 'edit_story' as edit_story %}
{% url 'delete_story' as delete_story %}
{% url 'stories' as story_list %}
{% url 'add_comment' as add_comment %}
{% url 'edit_comment' as edit_comment %}
{% url 'delete_comment' as delete_comment %}
{% block title%}: {{story.title}} {% endblock %}
{%block content%}

<section id="one_story">
  {% if user.is_authenticated %}

  <h1>{{story.title}}</h1>
  <p class="author">
    by
    <a href="#" class="writer"> {{story.author}}</a></p>

  {% if user.username == story.author.username %}

  <div class="edit"><a href="{% url 'edit_story' story.slug%}" class="edit"> Edit </a> or <a
      href="{% url 'delete_story' story.slug%}" class="edit"> Delete </a></div>


  {%endif%}
  <div class="date"><small>{{story.created_on}}</small>
    <small>edited:{{story.edited}}</small></div>
  <p>{{story.story_text|safe}}</p>
  <div class="comments">
    <h3>Comments</h3>

    <!--   <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <div>placeholder for comment</div>
          <form method="POST" action="{% url 'one_story' slug=story.slug%}">
  {%csrf_token%}
  <div class=" form-group">
    {{form}}
  </div>
  <button type="submit">Send</button>
  </form>
  </div>
  </div>
  </div>-->

    {% if not story.comments.all %}
    No comments yet.
    <a href="{% url 'add_comment' slug=story.slug %}">Add one! </a>
    {% else %}
    <a href="{% url 'add_comment' slug=story.slug %}">Add comment</a> <br>
    {% for comment in story.comments.all %}
    <hr />
    <div>{{comment.author}}</div>
    <div>{{comment.content}}</div>
    <small>{{comment.created_on}}</small>
    <br>
    <br>
    <a href="{% url 'edit_comment' story.slug%}">Edit</a>
    <a href="{% url 'delete_comment' story.slug%}">Delete</a>
    <hr />
    {% endfor %}

    {% endif %}

  </div>
  <button><a href="{% url 'stories' %}" class="edit"> Back </a></button>
  {%else%}
  <h3> To read stories, please log in</h3>
  {%endif%}
</section>
{%endblock%}