{%extends "base.html"%}
{% url 'one_story' as one_story %}
{% url 'add_story' as add_story %}
{% url 'filter_stories' as filter_stories %}
{% url 'view_profile' as view_profile %}
{% block title%}: Read all stories {% endblock %}

{%block content%}

<section id="story-list">
  {% if user.is_authenticated %}
  <div class="flexbox">
    <div class="column-left">
      {%if user.writer.goal == "Writer" %}
      <div class="add-new-story">
        <a class="btn add-story-button" href="{% url 'add_story' %}" aria-label="Add a new story">+ Add new
          story!</a>
      </div>
      {%endif%}
    </div>

    <!-- Filter-->

    <div class="column-right">
      <form class="d-flex search-story" method="POST" action="{%url 'filter_stories'%}">
        {% csrf_token %}
        <input type="search" placeholder="Type a keyword" aria-label="Search" name="searched_keyword"
          autocapitalize="off">
        <button type="submit" aria-label="Search for stories">Search!</button>
      </form>
    </div>
  </div>

  <!-- Story list-->

  {%for story in story_list%}
  <div class="one-story">
    <h2>{{story.title}}</h2>
    <p class="author"> by <a href=" {% url 'view_profile' story.author.slug %}" aria-label="View the author's profile">
        {{story.author}}</a></p>
    {% if user.username == story.author.username %}
    <div class="edit"><a href="{% url 'edit_story' story.slug%}" aria-label="Edit your story"> Edit </a> or <a
        href="{% url 'delete_story' story.slug%}" aria-label="Delete your story"> Delete </a></div>
    {%endif%}
    <p class="teaser">{{story.teaser}}</p>
    <a class=" btn read-more" href="{% url 'one_story' story.slug %}" aria-label="Read the whole story">Read
      more</a>
  </div>
  {%endfor%}
  {%else%}
  <h3 class="no-access-message"> To read stories, please log in</h3>
  {%endif%}
  <a class="btn back-button" onClick="javascript:history.go(-1)" aria-label="Go back to the previous page"> Back
  </a>
</section>


{%endblock%}