{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock head_title %}

{% block content %}
<div class="section-div">
  <section class="auth">
    <h1>{% trans "Sign Out" %}</h1>

    <p>{% trans 'Are you sure you want to sign out?' %}</p>

    <form method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button type="submit" aria-label="Sign out">{% trans 'Sign Out' %}</button>
    </form>
  </section>
  <a class="btn back-button" onClick="javascript:history.go(-1)" aria-label="Go back to the previous page"> Back
  </a>
</div>
{% endblock content %}