{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock head_title %}

{% block content %}
<div class="log-out-section-div">
    <section class="auth">
        <h1>{% trans "Change Password" %}</h1>

        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" name="action">{% trans "Change Password" %}</button>
            <div class="forgot-password-link">
                <a href="{% url 'account_reset_password' %}"
                    aria-label="Change your password">{% trans "Forgot Password?" %}</a>
            </div>
        </form>
    </section>
    <button class="back-button"><a onClick="javascript:history.go(-1)" aria-label="Go back to the previous page"> Back
        </a></button>
</div>
{% endblock content %}