body {
  background-color: black;
  color: white;
  min-width: 100vw;
  margin: 0;
  padding: 0px 0px 150px 0px;
  overflow-x: hidden;
  min-height: 100vh;
  position: relative;
}

/* Navigation */
.navbar {
  padding: 0px 30px;
  border: 2px solid red;
}

.navbar-collapse {
  display: flex;
  justify-content: space-evenly;
}

.navbar-nav {
  text-align: center;
}

.bg-body-tertiary {
  background-color: black !important;
}

.navbar li {
  padding: 20px 30px;
}

.navbar-brand,
.navbar-toggler,
.nav-link {
  color: white;
}

.navbar-brand:hover,
.navbar-toggler:hover,
.nav-link:hover {
  color: red;
}


.navbar-toggler-icon {
  color: white;
  border: 2px solid red;
}

/*footer*/

footer {
  padding: 30px;
  border: 2px solid red;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.copy {
  text-align: right;
}


/*media*/

@media (min-width: 769px) {
  .left-side {
    justify-content: left;
  }

  .right-side {
    justify-content: right;
  }
}