:root {
  --grey-gradient: linear-gradient(1deg, rgba(0, 0, 0) 20%, rgb(44, 43, 44) 80%);
  --dark-grey-color: #534f4d;
  --light-grey-color: #9a9997;
  --red-color: #a6071a;
  --written-font: "Julee",
    cursive;
  --thick-written-font: "Permanent Marker",
    cursive;
  --light-written-font: "Allura",
    cursive;
  --basic-font: "Karla",
    sans-serif;
  --basic-text-shadow: 16px 12px 31px rgba(255, 255, 255, 0.8);
  --basic-box-shadow: 9px 26px 54px 13px rgba(0, 0, 0, 0.2);
}

body {
  color: white;
  min-width: 100vw;
  margin: 0;
  padding: 0px 0px 150px 0px;
  overflow-x: hidden;
  min-height: 100vh;
  position: relative;
}

/* Navigation */
.navbar {
  padding: 0px 30px;
  border: 2px solid red;
}

.navbar-collapse {
  display: flex;
  justify-content: space-evenly;
}

.navbar-nav {
  text-align: center;
}

.bg-body-tertiary {
  background-color: black !important;
}

.navbar li {
  padding: 20px 30px;
}

.navbar-brand,
.navbar-toggler,
.nav-link {
  color: white;
}

.navbar-brand:hover,
.navbar-toggler:hover,
.nav-link:hover {
  color: red;
}


.navbar-toggler-icon {
  color: white;
  border: 2px solid red;
}

/*footer*/

footer {
  padding: 30px;
  border: 2px solid red;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.copy {
  text-align: right;
}


/*media*/

@media (min-width: 769px) {
  .left-side {
    justify-content: left;
  }

  .right-side {
    justify-content: right;
  }
}