/*stories, one_story*/
#story-list,
#one-story {
  margin: 30px auto;
  width: 90%;
  text-align: center
}

#one-story h1 {
  margin: 30px;
  font-family: var(--written-font);
}

#story-list h2 {
  text-shadow: var(--basic-text-shadow);
  margin-top: 30px;
  font-size: 40px;
  font-family: var(--light-written-font)
}

#story-list .author a,
#one_story .author a {
  font-family: var(--light-written-font);
  margin-bottom: 40px;
  font-size: 30px;
  color: var(--red-color);
  text-decoration: none;
  text-shadow: var(--basic-text-shadow);
  margin-left: 3px
}

#story-list .author a:hover,
#one_story .author a:hover {
  color: white
}

.add-new-story button {
  padding: 10px 20px;
  box-shadow: var(--basic-box-shadow);
  background-color: transparent;
  font-family: var(--written-font);
  display: block;
  margin: 30px 10px;
  font-size: 15px;
  text-align: left;
}

.add-new-story button:hover {
  color: white;
  text-shadow: var(--white-text-shadow);
  box-shadow: var(--basic-box-shadow);
}

.add-new-story a,
.read-more a {
  text-decoration: none;
  color: white
}

.add-new-story button a:hover {
  color: white
}

#story-list form {
  display: block !important;
  margin: 30px 10px;
  text-align: right;
  font-family: var(--written-font)
}

#story-list form button {
  padding: 10px 20px;
  box-shadow: var(--basic-box-shadow);
  background-color: transparent;
  font-family: var(--written-font);
  margin: 30px 10px;
  font-size: 15px;
  color: white
}

#story-list form input {
  border: 1px solid var(--red-color);
  font-size: 15px;
  padding: 5px 10px;
}

#story-list form ::placeholder {
  color: var(--red-color)
}

.read-more {
  padding: 10px 20px;
  background: transparent;
  font-family: var(--written-font);
  display: block;
  margin: 30px auto;
  margin-bottom: 90px;
  font-size: 15px;
  border: 1px solid var(--red-color);
  font-size: 20px
}

#story-list .teaser {
  text-align: justify
}

/* one story*/

#one_story p {
  margin: 30px;
  text-align: justify;
}

#one_story .date {
  text-align: right;
}


#one_story button {
  display: block;
  text-align: center;
  background-color: black;
  border: 1px solid red;
  margin: 40px auto
}

#one_story button a {
  text-align: center;
  text-decoration: none;
  color: red
}

/*add story*/
.add_story {
  margin: 40px
}

.add_story h1 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 40px;
}

.add_story form {
  width: 95%;
  margin: 0px auto
}

.add_story textarea,
.add_story input {
  width: 100%
}

.add_story label {
  color: red;
  margin: 20px 0px;
  font-size: 30px;
}

.add_story button {
  background-color: black;
  color: white;
  border: 1px solid red;
  padding: 30px;
  border-radius: 30%;
  display: block;
  margin: 30px auto;
  font-size: 30px
}

.add_story button:hover {
  background-color: red;
  border: 1px solid white;
}

/* media */

@media (min-width: 769px) {
  #add_story form {
    width: 70%;
  }
}

@media(min-width:687px) {
  #story-list .flexbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .column-left {
    justify-content: start;
  }

  .column-right {
    justify-content: end;
  }

  .add-new-story button,
  #story-list form button,
  #story-list form ::placeholder {
    font-size: 20px
  }
}