{%extends "base.html"%}
{% block title%}: Edit profile {% endblock %}
{% url 'view_profile' as view_profile %}

{%block content%}
{%if user.is_authenticated%}
{% if user.username == writer.username %}
<section class="view-edit-profile edit-profile">
  <h1>Edit your profile</h1>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Update</button>
  </form>
</section>
{%else%}
<h3 class="no-access-message">you have no access here</h3>
{% endif %}
{% endif %}
<button class="back-button"><a href="{{ user.writer.get_absolute_url }}"> Back </a></button>
{%endblock%}