{%extends "base.html"%}
{% block title%}: Edit profile {% endblock %}
{% url 'view_profile' as view_profile %}

{%block content%}
{%if user.is_authenticated%}
{% if user.username == writer.username %}
<div class="add_story">
  <h1>Edit your profile</h1>
  <form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Update</button>
  </form>
</div>
{%else%}
<h3 class="no-access-message">you have no access here</h3>
{% endif %}
{% endif %}
<button class="back-button"><a href="{{ user.writer.get_absolute_url }}"> Back </a></button>
{%endblock%}