{%extends "base.html"%}
{% url 'edit_profile' as edit_profile %}

{%block content%}
<section id="writer">
  {%if user.is_authenticated%}

  <h1>{{writer.username}}</h1>
  <div class="grid-container">
    <div>
      <img class="img-fluid" src="{{writer.photo.url}}" alt="profile image" width="400"></div>
    <div>
      <p>Name: {{writer.name}}</p>
      <p>Email: {{writer.email}}</p>
      <p>About me: {{writer.about_me}}</p>
      <p>Follow me on social media:

        {%if writer.facebook_link %}
        <a href="{{writer.facebook_link}}" target="_blank"><i class="fa-brands fa-facebook"></i></a>
        {%endif%}

        {%if writer.instagram_link%}
        <a href="{{writer.instagram_link}}" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        {%endif%}

        {%if writer.linkedin_link%}
        <a href="{{writer.linkedin_link}}" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        {%endif%}

      </p>

      {% if user.username == writer.username %}

      <div class="edit"><a href="{% url 'edit_profile' writer.slug %}" class="edit"> Edit </a>
      </div>
      {% endif %}
    </div>


    {%else%}
    <h3> To see the profile, please log in</h3>
    {%endif%}

</section>
{% endblock %}