{%extends "base.html"%}
{% url 'edit_profile' as edit_profile %}
{% load static %}

{%block content%}
<section class="view-edit-profile">
  {%if user.is_authenticated%}

  <h1>{{writer.username}}</h1>
  {% if user.username == writer.username %}

  <div class="edit"><a href="{% url 'edit_profile' writer.slug %}" class="edit"> Edit </a>
  </div>
  {% endif %}
  {%if user.writer.vis == "Visible" %}
  <div class="grid-container">
    <div>
      {% if "placeholder" in writer.photo.url %}
      <img class="img-fluid profile-image" src="{% static 'static/image/example.jpg' %}" alt="placeholder image"
        width="400">
      {% else %}
      <img class="img-fluid profile-image" src=" {{ writer.photo.url}}" alt="profile image" width="400">
      {% endif %}
    </div>

    <p><span>Name:</span> {{writer.name}}</p>
    <p>{{writer.goal}}</p>
    {%if user.writer.goal == "Editor" %}
    <p><span>Email:</span> {{writer.email}}</p>
    <p><span>Phone number:</span> {{writer.phone}}</p>
    {%endif%}
    <p><span>About me:</span> {{writer.about_me|safe}}</p>
    <p>
      {%if writer.facebook_link %}
      <p><span>Facebook:</span>
        <a href="{{writer.facebook_link}}" target="_blank"><i class="fa-brands fa-facebook"></i></a>
        {%endif%} </p>

      {%if writer.instagram_link%}
      <p><span>Instagram:</span>
        <a href="{{writer.instagram_link}}" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        {%endif%} </p>

      {%if writer.linkedin_link%}
      <p><span>Linkedin:</span>
        <a href="{{writer.linkedin_link}}" target="_blank"> <i class="fa-brands fa-linkedin"></i></a></p>
      {%endif%}
    </p>
    {%else%}
    <h3>This user has hidden profile</h3>
    {%endif%}
    <button class="back-button"><a onClick="javascript:history.go(-1)"> Back </a></button>
  </div>


  {%else%}
  <h3 class="no-access-message"> To see the profile, please log in</h3>
  {%endif%}

</section>
{% endblock %}