{%extends "base.html"%}
{% url 'edit_profile' as edit_profile %}

{%block content%}
<section id="writer">
  {%if user.is_authenticated%}
  <h1>{{writer.username}}</h1>
  <div class="grid-container">
    <div> <img src="{{writer.photo}}" alt="Image"></div>
    <div>
      <p>name: {{writer.name}}</p>
      <p>email: {{writer.email}}</p>
      <p>About_me: {{writer.about_me}}</p>
      <p>Download my resume: <a href="{{writer.resume}}"></a></p>
      <p>about me: {{writer.about_me}}</p>
      <div class="edit"><a href="{% url 'edit_profile' writer.slug %}" class="edit"> Edit </a>
      </div>
    </div>
    {%else%}
    <h3> To see the profile, please log in</h3>
    {%endif%}
</section>
{%endblock%}