/*stories, one_story*/

#story-list,
#one-story,
#filter-story {
  margin: 30px auto;
  width: 90%;
  text-align: center
}

#story-list h2 {
  text-shadow: var(--basic-text-shadow);
  margin-top: 30px;
  font-size: 40px;
  font-family: var(--light-written-font)
}

#story-list .author a,
#one-story .author a {
  font-family: var(--light-written-font);
  margin-bottom: 40px;
  font-size: 30px;
  color: var(--red-color);
  text-decoration: none;
  text-shadow: var(--basic-text-shadow);
  margin-left: 3px
}

#story-list .author a:hover,
#one-story .author a:hover {
  color: white
}

.add-new-story button {
  padding: 10px 20px;
  box-shadow: var(--basic-box-shadow);
  background-color: transparent;
  font-family: var(--written-font);
  display: block;
  margin: 30px 10px;
  font-size: 15px;
  text-align: left;
}

.add-new-story button:hover {
  color: white;
  text-shadow: var(--white-text-shadow);
  box-shadow: var(--basic-box-shadow);
}

.add-new-story a,
.read-more a {
  text-decoration: none;
  color: white
}

.add-new-story button a:hover,
#story-list form button:hover {
  color: var(--red-color)
}

#story-list form {
  display: block !important;
  margin: 30px 10px;
  text-align: right;
  font-family: var(--written-font)
}

#story-list form button {
  padding: 10px 20px;
  box-shadow: var(--basic-box-shadow);
  background-color: transparent;
  font-family: var(--written-font);
  margin: 30px 10px;
  font-size: 15px;
  color: white
}

#story-list form input {
  border: 1px solid var(--red-color);
  font-size: 15px;
  padding: 5px 10px;
}

#story-list form ::placeholder {
  color: var(--red-color)
}

.read-more {
  padding: 10px 20px;
  background: transparent;
  font-family: var(--written-font);
  display: block;
  margin: 30px auto;
  margin-bottom: 90px;
  font-size: 15px;
  border: 1px solid var(--red-color);
  font-size: 20px
}

.read-more:hover {
  border: 1px solid white;
  color: var(--red-color)
}

#story-list .teaser {
  text-align: justify
}

/* one story*/

#one-story h1 {
  margin: 50px 0px 30px 0px;
  font-family: var(--written-font);
}


#one-story .date {
  text-align: right;
}

#one-story .edit {
  color: var(--light-grey-color)
}

#one-story .edit a {
  color: var(--red-color);
  text-decoration: none;
}

#one-story .likes form {
  font-family: var(--written-font);
  text-align: left;
  margin-top: 40px;
  height: 50px
}

#one-story .likes button {
  padding: 10px 20px;
  background: transparent;
  font-family: var(--written-font);
  margin-bottom: 90px;
  font-size: 15px;
  border: 1px solid var(--red-color);
  font-size: 20px;
  color: white;
  margin-right: 10px;
  box-shadow: var(--red-box-shadow);
}

#one-story .likes button:hover {
  border: 1px solid white;
  color: var(--red-color);
}

#one-story .comments {
  text-align: left;
  margin-top: 15px
}

#one-story .comments a {
  text-decoration: none;
  color: var(--red-color);
  font-family: var(--written-font);
}

.comment-author {
  text-decoration: underline;
  font-size: 20px;
}

.comments h3 {
  font-family: var(--written-font);
}

#one-story .comments .comment-content {
  margin: 30px 0px;
  font-size: 20px;
}

.comment-links {
  color: var(--red-color)
}

.comments .add-one {
  margin-left: 10px;
}

#one-story a:hover {
  color: white
}

/*add story*/
.add-edit-delete-story {
  margin: 50px auto;
  width: 90%
}

#id_story_text_iframe {
  max-width: 100% !important;
  background: transparent;
}

.note-toolbar {
  background-color: black !important;
}

.add-edit-delete-story h1 {
  text-align: center;
  margin: 30px;
  font-family: var(--written-font);
}

.add-edit-delete-story form {
  width: 95%;
  margin: 0px auto;
  font-family: var(--written-font)
}

.add-edit-delete-story textarea,
.add-edit-delete-story input {
  display: block;
  margin: 10px auto;
  border: 2px solid var(--light-grey-color);
  width: 100%
}

.add-edit-delete-story label {
  color: white;
  margin: 20px 0px;
  font-size: 25px;
  text-shadow: var(--white-text-shadow);
}

.add-edit-delete-story button {
  padding: 10px 20px;
  box-shadow: var(--basic-box-shadow);
  background-color: transparent;
  font-family: var(--written-font);
  display: block;
  margin: 50px auto;
  font-size: 15px;
  color: white
}

.add-edit-delete-story button:hover {
  color: var(--red)
}

.add-edit-delete-story back-button {
  box-shadow: none
}

/*filter story*/

#filter-story h1 {
  font-family: var(--written-font);
}

#filter-story h1 div,
#filter-story li a span {
  font-family: var(--light-written-font);
  color: var(--light-grey-color)
}

#filter-story ul {
  margin: 20px
}

#filter-story li {
  margin: 30px 0px;
  list-style-type: none;
  padding: 0px;
}

#filter-story li a {
  text-decoration: none;
  color: var(--red-color);
  font-size: 20px
}

#filter-story button {
  font-size: 20px
}

/* media */

@media (min-width: 769px) {
  #add_story form {
    width: 70%;
  }
}

@media(min-width:687px) {
  #story-list .flexbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .column-left {
    justify-content: start;
  }

  .column-right {
    justify-content: end;
  }

  .add-new-story button,
  #story-list form button,
  #story-list form ::placeholder {
    font-size: 20px
  }

  .comments h3 {
    font-size: 30px
  }

  #one-story .comments a {
    font-size: 25px
  }

  .comment-links a {
    font-size: 18px
  }

  .comments .add-one {
    font-size: 20px;
  }

  .add-edit-delete-story form {
    width: 60%;
  }

  .add-edit-delete-story button {
    font-size: 25px
  }
}